body  {
    margin: 0;
    text-align: center;
   
}


.sela {
    width: 100%;
    height: 18cm;
    background-color: #DDDDDD;
    
}

.sela1  {
    position: relative;
    margin: 0;
    top: 3cm;
    font-size: 40px;
    font-family:'Tilt Warp', cursive , Arial, Helvetica, sans-serif ;
    color: #0074D9;
}

.sela2 {
    text-align: center;
    width: 10cm;
    height: 10cm;
    background-color: white;
    position: relative;
    top: 4cm;
    left: 40%;
}


img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin:  0.5cm 0cm 0 0.4cm;
}
 
h3 {
    padding: 20px;
}

.moni {
    width: 90%;
    height: 30px;
    border: solid 3px;
    border-radius: 10px;
}

.moni1 {
    margin-top:10px;
    margin-bottom: 15px;
    width: 85%;
    height: 35px;
    color: white;
    background-color: #0074D9;
    font-size: larger;
    
}

hr {
    width: 50%;
}
  h6 {
    position: relative;
    right: 10.8cm;
  }
